{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card bg-dark text-white shadow-lg">
        <div class="card-body">
            <h2 class="card-title">My Profile</h2>
            <hr class="bg-light">
            <p><strong>Username:</strong> {{ current_user.username }}</p>
            <p><strong>Email:</strong> {{ current_user.email }}</p>

            <hr class="bg-light">
            <h4>Change Password</h4>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.old_password.label(class="form-label") }}
                    {{ form.old_password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.new_password.label(class="form-label") }}
                    {{ form.new_password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_new_password.label(class="form-label") }}
                    {{ form.confirm_new_password(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-outline-primary btn-block mt-3") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
